:root {
    --color-principal: #28262c;
    --color-categorias: #998fc7;
    --color-tabla: #d4c2fc;
    --color-texto: #f9f5ff;
    --color-enlaces: #14248a;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-principal);
    color: var(--color-texto);
    height: 100vh;
}

#contenedor-principal {
    display: flex;
}

#columna-izquierda {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
    background-color: var(--color-categorias);
    padding: 20px;
    min-width: 335px;
    height: 100vh;
    box-sizing: border-box;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons button {
    background-color: var(--color-enlaces);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
}

.buttons button:hover {
    background-color: var(--color-tabla);
    color: black;
}

.search {
    display: flex;
    width: 50%;
    gap: 20px;
}
.search select,
.search input {
    border: none;
    font-size: 16px;
    padding: 10px;
}
.search select,
.search div {
    border-radius: 5px;
    width: 80%;
}
.search div {
    box-sizing: border-box;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}
.search input {
    width: 100%;
}
.search button {
    color: white;
    background-color: var(--color-enlaces);
    cursor: pointer;
    padding: 0 10px;
    transition: all 0.1s ease-in-out;
    border: none;
}
.search button:active {
    background-color: var(--color-categorias);
}
.search select:focus,
.search input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-enlaces);
}

#tabla-derecha {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 75%;
    background-color: var(--color-tabla);
    padding: 20px;
    height: calc(100vh - 40px);
    overflow-y: hidden;
}
.table-area {
    border-radius: 5px;
    overflow-y: auto;
    width: 100%;
    max-height: 100%;
}
h1 {
    font-size: 25px;
    text-align: center;
    color: var(--color-enlaces);
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 90%;
    overflow-y: auto;
}

li {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: var(--color-texto);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    height: 30px;
    align-items: center;
    gap: 10px;
}

li h3 {
    margin: 0;
    color: var(--color-enlaces);
}

li:hover {
    filter: drop-shadow(0px 0px 1px var(--color-tabla))
        drop-shadow(0px 0px 3px var(--color-tabla))
        drop-shadow(0px 0px 5px var(--color-tabla));
}
.icon-container {
    height: 30px;
    width: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
li img {
    height: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
    overflow-y: scroll;
}
table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

th {
    background-color: var(--color-enlaces);
    color: var(--color-texto);
    font-size: 14px;
    padding: 10px;
    max-height: 56px;
}

td {
    font-size: 14px;
    padding: 10px;
    max-height: 56px;
}
tr:not(thead tr) {
    height: 56px;
}

tr:nth-child(odd) {
    background-color: var(--color-texto);
    color: var(--color-enlaces);
}
tr:nth-child(even) {
    background-color: var(--color-categorias);
}
tr:nth-child(even) button:hover,
tr:nth-child(even) a:hover {
    background-color: var(--color-tabla);
    color: var(--color-enlaces);
}
.actions {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

table button,
table a {
    background-color: var(--color-enlaces);
    border: none;
    color: var(--color-texto);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

table button:hover,
table a:hover {
    background-color: var(--color-categorias);
}
