:root {
    --color-principal: #ecb100;
    --color-principal-shadow: #a77e00;
    --color-secundario: #1a1a1a;
    --color-secundario-shadow: #111111;
    --color-extra-1: #666666;
    --color-extra-2: #333333;
    --color-extra-3: #282828;
    --color-rojo: #e94646;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-secundario);
    color: white;
    height: 100vh;
}

#contenedor-principal {
    display: flex;
}
#columna-izquierda {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
    background-color: var(--color-categorias);
    padding: 20px;
    min-width: 335px;
    height: 100vh;
    box-sizing: border-box;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.button {
    background-color: var(--color-secundario);
    color: var(--color-principal);
    box-shadow: inset 0px 0px 0px 3px var(--color-principal);
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 45%;
    min-width: min-content;
    transition: all 0.15s ease-in-out;
    white-space: nowrap;
}

.button:hover {
    background-color: var(--color-principal);
    color: var(--color-secundario);
    box-shadow: none;
}

.search {
    display: flex;
    width: 50%;
    gap: 20px;
}
.search select,
.search input {
    border: none;
    font-size: 16px;
    padding: 10px;
}
.search select,
.search div {
    border-radius: 5px;
    width: 80%;
}
.search div {
    box-sizing: border-box;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}
.search input {
    width: 100%;
}
.search button {
    color: var(--color-principal);
    background-color: var(--color-secundario);
    cursor: pointer;
    padding: 0 10px;
    transition: all 0.1s ease-in-out;
    border: none;
}
.search button:active {
    background-color: var(--color-extra-3);
}
.search select:focus,
.search input:focus {
    outline: none;
}

#tabla-derecha {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 75%;
    background-color: var(--color-extra-2);
    padding: 20px;
    height: calc(100vh - 40px);
    overflow-y: hidden;
}
.table-area {
    border-radius: 5px;
    overflow-y: auto;
    width: 100%;
    max-height: 100%;
}
h1 {
    font-size: 26px;
    text-align: center;
    color: var(--color-principal);
    margin: 0;
}

ul {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 0;
    height: 100%;
    overflow-y: auto;
}

li {
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    height: 30px;
    justify-content: space-between;
}
li div:first-child {
    display: flex;
    gap: 10px;
    align-items: center;
}
.li-buttons.active:not(.h3-container) {
    opacity: 1;
    display: flex;
}
.li-buttons:not(.h3-container) {
    padding: 0 10px;
    opacity: 0;
    color: var(--color-secundario);
    display: none;
    gap: 20px;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}
.h3-container {
    display: flex;
    overflow-y: auto;
    height: 100%;
}
li i {
    font-size: 18px;
    height: 18px;
    transition: all 0.15s ease-in-out;
}

li i:hover {
    filter: drop-shadow(0px 0px 1px var(--color-principal))
        drop-shadow(0px 0px 3px var(--color-principal));
}

li h3 {
    padding: 5px 0;
    word-break: break-all;
    margin: 0;
    color: var(--color-secundario);
}

li:hover {
    filter: drop-shadow(0px 0px 1px var(--color-principal))
        drop-shadow(0px 0px 2px var(--color-principal))
        drop-shadow(0px 0px 3px var(--color-principal));
}
.icon-container {
    height: 30px;
    width: 30px;
    min-width: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
li img {
    height: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
    overflow-y: scroll;
}
table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

th {
    background-color: var(--color-principal);
    color: var(--color-secundario);
    font-size: 14px;
    padding: 10px;
    max-height: 56px;
}

td {
    font-size: 14px;
    padding: 10px;
    max-height: 56px;
}
tr:not(thead tr) {
    height: 56px;
}

tr:nth-child(odd) {
    background-color: var(--color-extra-3);
}
tr:nth-child(even) {
    background-color: var(--color-secundario);
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

table button,
table a {
    background-color: var(--color-secundario);
    color: var(--color-principal);
    box-shadow: inset 0px 0px 0px 3px var(--color-principal);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

table button:hover,
table a:hover {
    background-color: var(--color-principal);
    color: var(--color-secundario);
}

.popup {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#accept-popup p {
    color: white;
}

.popup-visible {
    display: flex;
}
.popup-container {
    background-color: var(--color-secundario);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px var(--color-principal);
}

.popup h2 {
    font-size: 26px;
    margin: 10px 0 20px 0;
    text-align: center;
    color: var(--color-principal);
}

.popup form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.popup form input {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.popup .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.popup .button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 40%;
}
.invalid:required:invalid {
    box-shadow: inset 0px 0px 0px 2px var(--color-rojo);
}

.create-edit-profile-image {
    position: relative;
    height: 90px;
    width: 90px;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    border: 6px solid var(--color-principal);
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.create-edit-profile-image:hover #image-placeholder {
    filter: brightness(0.35);
}
.create-edit-profile-image:hover i {
    opacity: 1;
}
#image-placeholder {
    height: 100%;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.create-edit-profile-image i {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    color: white;
    font-size: 30px;
    height: 30px;
    width: 30px;
    transition: all 0.3s ease-in-out;
}

.campos {
    width: 100%;
}

label {
    color: var(--color-principal);
    font-size: 1.17em;
    font-weight: bold;
    margin: 0;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 70px;
    width: auto;
}

.errors {
    z-index: 5;
    position: fixed;
    bottom: 0;
    right: 0;
}

.error-message {
    padding: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    background-color: var(--color-secundario);
    border-bottom: 10px solid var(--color-rojo);
    box-shadow: 0px 0px 10px 3px var(--color-rojo);
}
.error-message.active {
    opacity: 1;
}
.error-close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }
}
