:root {
    --color-principal: #ecb100;
    --color-principal-shadow: #a77e00;
    --color-secundario: #1a1a1a;
    --color-secundario-shadow: #111111;
    --color-extra-1: #666666;
    --color-extra-2: #333333;
    --color-extra-3: #282828;
    --color-rojo: #e94646;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-extra-2);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: var(--color-secundario);
    color: white;
    padding: 40px;
    border-radius: 10px;
    gap: 40px;
}

.container h1 {
    color: var(--color-principal);
    text-align: center;
    font-size: 26px;
    margin: 0;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    overflow-y: auto;
    max-height: 50vh;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.icon-container {
    height: 50px;
    width: 50px;
    overflow: hidden;
    display: flex;
    margin-right: 10px;
    border-radius: 50%;
    border: 4px solid var(--color-principal);
    justify-content: center;
}

.row img {
    height: 100%;
}

.row h3 {
    font-size: 18px;
    margin-right: 10px;
    flex-grow: 1;
    color: var(--color-principal);
}
.button {
    background-color: var(--color-secundario);
    color: var(--color-principal);
    box-shadow: inset 0px 0px 0px 3px var(--color-principal);
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    min-width: 45%;
    transition: all 0.15s ease-in-out;
}

.button:hover {
    background-color: var(--color-principal);
    color: var(--color-secundario);
    box-shadow: none;
}

.popup {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup-visible {
    display: flex;
}
.popup-container {
    color: white;
    background-color: var(--color-secundario);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px var(--color-principal);
}

.popup h2 {
    font-size: 26px;
    margin: 10px 0 20px 0;
    text-align: center;
    color: var(--color-principal);
}

.popup form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.popup form input {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.invalid:required:invalid {
    box-shadow: inset 0px 0px 0px 2px var(--color-rojo);
}

.password-field-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
}
.password-field-input:hover #passwordViewBut {
    opacity: 1;
}
i {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    height: 22px;
    color: var(--color-secundario);
    transition: all 0.3s ease-in-out;
}

#passwordViewBut {
    cursor: pointer;
    position: absolute;
    margin-right: 10px;
    opacity: 0;
}
#passwordViewBut:hover {
    filter: drop-shadow(0px 0px 1px var(--color-principal))
        drop-shadow(0px 0px 3px var(--color-principal));
}

.create-profile {
    width: 40%;
}
.campos {
    width: 100%;
    color: var(--color-principal);
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

label {
    font-size: 1.17em;
    font-weight: bold;
    margin: 0;
}
.create-edit-profile-image {
    position: relative;
    height: 90px;
    width: 90px;
    overflow: hidden;
    display: flex;
    border-radius: 50%;
    border: 6px solid var(--color-principal);
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.create-edit-profile-image:hover #image-placeholder {
    filter: brightness(0.35);
}
.create-edit-profile-image:hover i {
    opacity: 1;
}
#image-placeholder {
    height: 100%;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.create-edit-profile-image i {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    color: white;
    font-size: 30px;
    height: 30px;
    width: 30px;
}
.editionButtons {
    display: flex;
    gap: 20px;
}
.editionButtons i {
    font-size: 15px;
    width: 15px;
    height: 15px;
    color: var(--color-principal);
}
.editionButtons button {
    background-color: var(--color-secundario);
    box-shadow: inset 0px 0px 0px 3px var(--color-principal);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.editionButtons button:hover {
    background-color: var(--color-principal);
}
.editionButtons button:hover i {
    color: var(--color-secundario);
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 70px;
    width: auto;
}
