:root {
    --color-principal: #28262c;
    --color-categorias: #998fc7;
    --color-tabla: #d4c2fc;
    --color-texto: #f9f5ff;
    --color-enlaces: #14248a;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-categorias);
    color: var(--color-texto);
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.container {
    padding: 20px;
    background-color: #d4c2fc;
    width: 700px;
    border-radius: 10px;
}

a {
    color: var(--color-enlaces);
}

.campos {
    color: var(--color-categorias);
}

h1 {
    font-size: 25px;
    text-align: center;
    color: var(--color-enlaces);
    margin: 0;
}
h3 {
    margin: 0;
}
input:not(input[type='submit']),
textarea {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
textarea {
    resize: none;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin: 20px auto 0 auto;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.buttons * {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
